.container {
    width: 670px;
}

.numbersContainer {
    display: grid;
    grid-template-columns: 64px 64px 64px 64px 64px 64px 64px 64px 64px;
    grid-column-gap: 12px;
    grid-row-gap: 20px;
}

.numbersContainer label {
    text-align: center;
    line-height: 54px;
    background: #ADC0C4;
    border-radius: 50%;
    border: 4px solid #ADC0C4;
    width: 60px;
    height: 60px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.numbersContainer label:hover {
    background: #9aabaf;
    border: 4px solid #9aabaf;
}

.numbersContainer input:checked + label {
    background: white;
    color: #27C383;
    border: 4px solid #27C383;
}

.numbersContainer input {
    display: none;
}

.optionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addToCart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    cursor: pointer;

    align-self: flex-end;
    background: #27C383;
    border: 1px solid #27C383;
    border-radius: 10px;
    color: #FFFFFF;
    width: 209px;
    height: 52px;
    font-size: 1rem;
}

.option {
    background: none;
    cursor: pointer;

    width: 164px;
    height: 52px;

    border: 1px solid #27C383;
    border-radius: 10px;

    color: #27C383;
    font-size: 1rem;

    margin: 3rem 1rem 0 0;
}
