.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-size: 2rem;
}

.gameType {
    display: flex;
    flex-direction: row;
    width: 512px;
}

.gameType input {
    display: none;
}

.gameButton {
    display: inline-block;
    text-align: center;
    background: white;
    border-radius: 100px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 16px;
    padding: 6px 32px;
}

label[for="Mega-Sena"] {
    border: 2px solid #01AC66;
    color: #01AC66;
}

label[for="Quina"] {
    border: 2px solid #F79C31;
    color: #F79C31;
}
label[for="Lotofácil"] {
    border: 2px solid #7F3992;
    color: #7F3992;
}

input:checked + label[for="Mega-Sena"] {
    background: #01AC66;
    color: white;
}

input:checked + label[for="Quina"] {
    background: #F79C31;
    color: white;
}

input:checked + label[for="Lotofácil"] {
    background: #7F3992;
    color: white;
}

.cart {
    position: sticky;
    top: 5vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: white;
    border: 1px solid #E2E2E2;
    border-radius: 10px;

    width: 317px;
    max-height: 500px;

    font-size: 2rem;
}

.cart h3 {
    margin: 0;
}

.saveButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    background: #F4F4F4;
    border: 1px solid #E2E2E2;
}

.save {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
    font-size: 1.8rem;
    margin: 42px 0 42px 0;
    color: #B5C401;
}
